/*Page Hacks for better CSS*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*-----Page Begins----*/


body {
  padding:2%;
  font-family: 'Pompiere', cursive;

}

header {
  margin: auto;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 15px;

}

header h1 {
  font-size: 30;
}

header p {
  font-size: 20px;
}

article {
  margin: auto;
}
article h1.flashy {
  text-align: center;
  margin: auto;
  color: red;
  font-style: italic;
  font-size: 25px;
}

article img {
  display: block;
    margin-left: auto;
    margin-right: auto }
article p {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 1%;
}

img.best {
  box-shadow: 12px 12px 5px 6px #D3D3D3;
}

p.best {
  margin-top: 5px;
}

em {
  font-size: 25px;
  font-style: italic;
  color: red;
}

footer {
  border-top: 1px solid black;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

li {


  display: inline;
  margin-left: 10%;
  margin-right: 10%;

}
a {
  text-decoration: none;
  color: red;
}
